.formLogin {
  height: auto;
  width: 30%;
  background: white;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid rgba(128, 128, 128, 0.226);
  padding: 1em;
  z-index: 1400;
  position: fixed;
  right: 1em;
  top: 5em;
  border-radius: 2px;
}
.formLogin h2 {
  margin: 0;
}
.register {
  color: #81d4fa;
  align-self: center;
  transition: 1s;
  margin-bottom: 0.5em;
}
.register:hover {
  letter-spacing: 5px;
  border-bottom: 1px solid #81d4fa;
}
