// .chatScreen {
//   display: flex;
//   flex-direction: column;
//   align-items: end;
//   width: 100%;
//   height: 100vh;
//   background: none;
//   align-content: flex-end;
//   justify-content: flex-end;
//   flex-wrap: wrap;
// }
.chatBox {
  width: 25%;
  z-index: 900;
  height: 100vh;
  background: rgb(241 242 245);
  flex-direction: column;

  justify-content: flex-end;
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 2px;
}
.messageBox {
  display: flex;
  width: 100%;
  height: 80vh;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow-y: auto;
  flex-direction: column;
  scroll-behavior: smooth;
}
#formMessage {
  display: flex;
  flex-direction: row;
}
.formMessage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 1em;
  justify-content: space-between;
}
#userMessage {
  width: 95%;
  padding: 0.5em;
  resize: none;
  margin-right: 1em;
  border: none;
  &:focus-visible {
    outline: none;
  }
}
#sendMessage {
  width: 20%;
  background: $primary-color-light;
  border-radius: 2px;
  border: none;
  font-weight: bold;
}
/*MESSAGES*/
.message {
  padding: 0.5em;
  border-radius: 5px;
  margin: 1em;
}
.message p {
  margin: 0;
}
.own {
  background: $secondary-color;
  align-self: flex-end;
}
.other {
  background: $secondary-color-light;
  align-self: flex-start;
}
.iconChat {
  background-color: $primary-color;
  height: 50px;
  width: 50px;
  position: fixed;
  z-index: 800;
  right: 0;
  bottom: 0;
  margin: 1em;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}
