%form {
  height: auto;
  width: 30%;
  background: white;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
  z-index: 1400;
}
.login {
  @extend %form;
  border: 1px solid rgba(128, 128, 128, 0.226);
  display: flex;
  position: fixed;
  right: 1em;
  top: 5em;
  border-radius: 2px;
}
.formLogin h2 {
  margin: 0;
}
.register {
  color: $primary-color-dark;
  align-self: center;
  transition: 1s;
  margin-bottom: 0.5em;
}
.register:hover {
  @extend %hoverAnchor;
}
.invalid {
  font-size: 80%;
  color: red;
  margin: 0;
}
